body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #000;

  font-family: 'Inter', sans-serif;
  color: white;
}

html,
#root {
  scroll-behavior: smooth;
}

.active {
  color: white !important;
}